@use "../../../styles/partials/" as *;

.auth-form {
    width: 100%;

    border: 1px solid #ccc;
    padding: 1rem;

    @include breakpoint(xs) {
        width: 100%;
    }
    @include breakpoint(lg) {
        width: 60%;
        margin: 0 auto;
    }
}
